*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}

.player_actions{
    display: flex;
    justify-content: center;
    gap:32px;
}
.result form{
    margin-top: 32px;
    display: flex;
    gap: 32px;
    justify-content: center;
}